# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Obtectives:**
* List popular languages for Data Science
* List libraries used by Data Scientists
* List Data Science Tool
* Some expamples of arithmatic experssion in Python

Some of the popular languages that Data Scientists use are:
1. Phython
2. R
3. Java
4. Julia
5. Scala
6. C/C++
7. Go

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|------------------|
|Hadoop|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [17]:
200/60

3.3333333333333335

## Author
Hilana Mounir